<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="user.username"
        name="username"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-textarea [(ngModel)]="user.password" name="password"></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit">
      <ion-spinner *ngIf="(loading$ | async)"></ion-spinner>
      Login
    </ion-button>
  </form>
</ion-content>
