<ion-header>
  <ion-toolbar>
    <ion-title>account-listings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header> Recent Conversations </ion-list-header>

    <ion-item detail="true">
      <ion-avatar slot="start">
        <img src="./avatar-luke.png" />
      </ion-avatar>
      <ion-label>
        <h2>Savings Account</h2>
        <h3>Available Balance</h3>
      </ion-label>
      <ion-note slot="end" color="primary">24000.00</ion-note>
    </ion-item>

    <ion-item detail="true">
      <ion-avatar slot="start">
        <img src="./avatar-luke.png" />
      </ion-avatar>
      <ion-label>
        <h2>Savings Account</h2>
        <h3>Availablr Balance</h3>
      </ion-label>
      <ion-note slot="end" color="primary">24000.00</ion-note>
    </ion-item>

    <ion-item detail="true">
      <ion-avatar slot="start">
        <img src="./avatar-luke.png" />
      </ion-avatar>
      <ion-label>
        <h2>Savings Account</h2>
        <h3>Availablr Balance</h3>
      </ion-label>
      <ion-note slot="end" color="primary">24000.00</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
