<ion-header>
  <ion-toolbar>
    <ion-title>account-listings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngIf="(accountsLoader$ | async)">
    <ion-card-content> Fetching your accounts.... </ion-card-content>
  </ion-card>

  <ion-list *ngIf="!(accountsLoader$ | async)">
    <ion-list-header> Recent Conversations </ion-list-header>

    <ion-item
      detail="true"
      *ngFor="let account of (accountInfo$ | async).accounts"
    >
      <ion-avatar slot="start">
        <img src="../../../assets/icon/icon-fixeddeposit-payout.png" />
      </ion-avatar>
      <ion-label>
        <h2>Savings Account</h2>
        <h3>{{account}}</h3>
      </ion-label>
      <!-- <ion-note slot="end" color="primary">24000.00</ion-note> -->
    </ion-item>
  </ion-list>
</ion-content>
